//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block append config
  -
    config.title = 'Connecting all the Things';
    config.description = 'The journey to ubiquitous systems';

    config.author = {
      name: 'Andrew Bodine',
      email: 'acbodine@us.ibm.com',
    };

    config.theme = 'ibm';
  -

//- Add your slides here. See templates/includes/_mixins.pug for information
//- on how `+slide` works.
block slides

  +slide(data-background="images/ibmcode-title-white.png")
    h1.no-margin= config.title
    h3.no-margin= config.description
    p= config.author.name

  //
  // Section: Overview
  //
  +slide(data-background="images/u711.jpg")
    h2 Internet of Things
    p More than just a technology trend, it is a cultural shift

  // TODO: Get better IoT Infographic

  +slide(data-background="images/iot-infographic-212-billion.jpg")
    h3 The vision

  +slide(data-background="images/superficial-adaptation.png")
    aside.notes
      p.
        Connecting things just for the sake of connecting them.

  +slide(data-background="images/adaptation.png")
    aside.notes
      p.
        Getting the hardware right, scaling our infrastructure, and learning to
        work with the newer, better, and faster programmers emerging in the
        cognitive era.

  //
  // Section: Devices
  //
  +slide(data-background="images/ibmcode-white.png")
    h2 Devices
    p When "in the field" is a field.

  +slide(data-background="images/connectivity.jpg")
    h3(style="color:white;") Connectivity

    aside.notes
      // TODO

  +slide(data-background="images/tooling.jpg")
    h3(style="color:white;") Tooling

    aside.notes
      // TODO

  +slide(data-background="images/production.jpg")
    h3(style="color:white;") Scaling Production

    aside.notes
      // TODO

  +slide(data-background="images/update.jpg")
    h3(style="color:white;") Updates

    aside.notes
      // TODO

  +slide(data-background="images/security.jpg")
    h3(style="color:white;") Security

    aside.notes
      // TODO

  +slide(data-background="images/certified.jpg")
    h3 Certifications

    aside.notes
      // TODO

  +slide(data-background="images/open-market.jpg")
    h3(style="color:white;") Open Market

    aside.notes
      // TODO

  //
  // Section: Data
  //
  +slide(data-background="images/ibmcode-white.png")
    h2 Data
    p The IoT data storm is real.

  +slide(data-background="images/naive-architecture.png")

  +slide(data-background="images/edge-analytics.jpg")
    h3(style="color:white;") At the Edge

  +slide(data-background="images/averaging.png")
    h3 Averaging

  +slide(data-background="images/storage.jpeg")
    h3 Storage Hierarchy

  +slide(data-background="images/compression.jpg")
    h3(style="color:white;") Temporal Compression

  +slide(data-background="images/in-the-cloud.jpg")
    h3 In the Cloud

  +slide(data-background="images/architecture.png")

  //
  // Section: Developers
  //
  +slide(data-background="images/ibmcode-white.png")
    h2 Developers
    p Harness the cognitive era.

  +slide(data-background="images/ibmcode-chains.png")
    div(class="container")
      h3 Data Infographic

      div(class="row")
        div(class="col-md-4", style="color:white;padding:25px;")
          p 2.5 quintillion bytes of data created every day.
        div(class="col-md-4", style="color:white;padding:25px;")
          p 90% of the data in the world today has been created in the last two years alone.
        div(class="col-md-4", style="color:white;padding:25px;")
          p Every minute 1.7 megabytes of data is created for every person on the planet. All 7.3 billion of us.

  +slide(data-background="images/iceberg.jpg")
    h3 Dark Data
    p(style="color:white;").
      Accounts for 90% of today's data.

  +slide(data-background="images/ibmcode-photo2.png")
    h3 Tabulating Systems Era

  +slide(data-background="images/ibmcode-photo2.png")
    h3 Programmable Systems Era

  +slide(data-background="images/ibmcode-photo2.png")
    h3 Cognitive Computing Era

  //
  // Section: Summary
  //
  +slide(data-background="images/ibmcode-white.png")
    div(class="container")
      h3 Summary

      div(class="row")
        div(class="col-md-4", style="padding: 25px;")
          h3 Devices
          p(style="background: white;").
            When "in the field" is a field, there is nothing quite as complicated
            as simple connectivity.

        div(class="col-md-4", style="padding: 25px;")
          h3 Data
          p.
            The IoT data storm is real. With the right strategy, the burden of
            IoT data can be greatly reduced.

        div(class="col-md-4", style="padding: 25px;")
          h3 Developers
          p.
            In the future (15-30 years) programmers will not write code as much
            as they train machines.

  // Section: Thank You
  +slide(data-background="images/ibmcode-title-white.png")
    h2= config.title
    p= config.author.name
    p= config.author.email
