//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block append config
  -
    config.title = 'IoT in 10 minutes';
    config.description = '';

    config.author = {
      name: 'Andrew Bodine',
      email: 'acbodine@us.ibm.com',
    };

    config.theme = 'ibm';
  -

//- Add your slides here. See templates/includes/_mixins.pug for information
//- on how `+slide` works.
block slides

  +slide(data-background="images/ibmcode-title-white.png")
    h1.no-margin= config.title
    h3.no-margin= config.description
    p= config.author.name

  +slide(data-background="images/u711.jpg")
    h2 Internet of Things
    p More than just a technology trend, it is a cultural shift

  +slide(data-background="images/ibmcode-white.png")
    h3 The Scope
    img(src="images/iot-infographic-212-billion.jpg")

  +slide(data-background="images/ibmcode-white.png")
    h3 Superficial Adaptation
    img(src="images/superficial-adaptation.png")
    p Connecting things just for the sake of connecting them.

  +slide(data-background="images/ibmcode-white.png")
    h3 Adaptation
    img(src="images/adaptation.png")
    p.
      Getting the hardware right, scaling our infrastructure, and learning to
      work with the newer, better, and faster programmers emerging in the
      cognitive era.

  +slide(data-background="images/ibmcode-white.png")
    h3 Devices
    p.
      All the things.

  +slide(data-background="images/ibmcode-white.png")
    h3 Data
    p.
      In other words, Big Data and Machine Learning.

  +slide(data-background="images/ibmcode-white.png")
    h3 Developers
    p.
      The rise of AI, and how that affects you.

  +slide(data-background="images/ibmcode-white.png")
    h3 Bridging the gap

    ul
      li.fragment Redundant & Reliable Connectivity
      li.fragment Digital Pairs
      li.fragment Blockchain
      li.fragment Edge Analytics
      li.fragment Machine Learning

  +slide(data-background="images/ibmcode-title.white.png")
   h2= config.title
   p= config.author.name
   p= config.author.email
